@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden; /* Prevent full page scroll if possible, we want internal scrolling */
  @apply bg-gray-900 text-gray-100;
}
